header {
  background-image: url(../assets/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 16rem;
}

header img {
  max-width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

/* Theme Toggle */
.theme-toggle-container {
  position: relative;
  /* height: 2.4rem; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle-container input {
  display: none;
}

.toggle-label {
  cursor: pointer;
  padding: 0 1rem;
}

.sun {
  line-height: 0.4;
}

.toggle-label:hover ~ .theme-toggle {
  background-color: var(--violet-light);
}

.toggle-pill {
  width: 4.8rem;
  height: 2.4rem;

  background-color: var(--white);
  border-radius: 1.2rem;
  margin: 0 0.5rem;
}

.theme-toggle {
  position: absolute;
  top: 0.5rem;
  left: 5rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: var(--violet);
  transition: all 0.3s;
}

#dark:checked ~ .theme-toggle {
  left: 7.45rem;
}


@media screen and (max-width: 768px) {
  header {
    background-image: url(../assets/tablet/bg-pattern-header.svg);
  }
}

@media screen and (max-width: 375px) {
  header {
    background-image: url(../assets/mobile/bg-pattern-header.svg);
  }
}